[Unit]
Description=Environment-Agnostic hotKey Client
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/eakc
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=graphical-session.target
